.search-bar{
  margin: 20px;
  text-align: center;
}

.search-bar input{
  width: 75%;
}

.video-item img{
  max-width: 50px;
}

.video-player .details{
  margin-top: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.videoItems{
  cursor: pointer;
}

.list-group-item:hover{
  background-color: #eff0f2;
}

.description{
  background-color: lightgray;
  font-size: 12px;
}

.trending{
  font-size: 20px;
  text-align: center;
  color: #0195c6;
  writing-mode: tb-rl;
  transform: rotate(-90deg);
}

.highlight{
  color: goldenrod;
  font-size: 22px
}

.itemContainer{
  width: 50%;
}

.body{
  background-color: #f4f4f4;
}

.title{
  word-wrap: break-word;
  font-size: 16px
}
