.search-bar{
  margin: 20px;
  text-align: center;
}

.search-bar input{
  width: 75%;
}

.media img{
  min-width: 150px;
}

.video-player{
  margin-left: 10px;
}

.videoItems{
  cursor: pointer;
}

.list-group-item:hover{
  background-color: #eff0f2;
}

.description{
  background-color: lightgray;
  font-size: 12px;
}

.trending{
  font-size: 20px;
  text-align: center;
  color: #0195c6;
  writing-mode: tb-rl;
  transform: rotate(-90deg);
}

.highlight{
  color: goldenrod;
  font-size: 22px
}

.itemContainer{
  width: 50%;
}

.body{
  background-color: #f4f4f4;
}

.title{
  word-wrap: normal;
  font-size: 16px
}

#linkItem li a{
  color: lightgray;
}
